:root {
  --clr-tabasco: #a1230d;
  --clr-lily-white: #ebedec;
  --clr-judge-gray: #503c2e;
}

nav,
#convert-button {
  background-color: var(--clr-tabasco);
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: black;
}

#convert-button {
  color: white;
  border: 1px solid var(--clr-tabasco);
  box-sizing: content-box;
  padding-left: 30px;
  padding-right: 30px;
}

#header {
  background: var(--clr-lily-white);
  color: var(--clr-judge-gray);
}

#userSection {
    width: 80%;
}

#logo-img {
  width: 50px;
}

.navbar-brand {
  width: 15%;
}

#datePicker {
  width: 30%;
}
